body{
    margin: 8%;
    

}
.container{
    border: 1px solid black;
    border-radius: 5px;
}
.keyboard-layout{
    background-color: rgb(238, 244, 243);
   height: 580px;
   width: 1000px;
   margin: 30px 20px 30px 130px;
   padding: 3px 0px 3px 0px;
   display:grid;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: 1px solid rgb(176, 176, 126);
   
}
h1{
    text-align: center;
}
.row1{
   
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
    gap: 9px;
    align-items: center;
}
.row1-key{
    
    border-radius: 6px;
    padding: 10px;
    border: 1px solid wheat;
    background-color: white;
    color:black;
    box-shadow: 2px 2px 8px  rgb(165, 140, 93);
    grid-template-rows: auto;
    text-align: center;
}
.row2{
    
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
    gap: 9px;
    align-items: center;
}
.row2-key{
    padding: 20px;
}
#backspace{
    display: grid;
    grid-column-start:14;
    grid-column-end: 17;
}
#tab{
    display: grid;
    grid-column-start:1;
    grid-column-end: 4;
    padding:20px 30px 20px 30px ;
}
#capslock{
    display: grid;
    grid-column-start:1;
    grid-column-end: 2;
    padding:20px 30px 20px 30px ;

}
#enter{
    display: grid;
    grid-column-start:13;
    grid-column-end: 16;
}
#shift-left{
    display: grid;
    grid-column-start:1;
    grid-column-end: 3;
    padding:20px 50px 20px 50px ;
}
#shift-right{
    display: grid;
    grid-column-start:13;
    grid-column-end: 17;
    padding:20px 50px 20px 50px ;
}
#space{

    display: grid;
    grid-column-start:5;
    grid-column-end: 12;
    padding:21px 100px 21px 100px ;
}
#playback{

    display: grid;
    row-gap: 2px;
}
.playback-div {
    border-bottom: 1px solid wheat;
    padding: 0px 25px 0px 25px;
    border: 1px solid wheat;
    padding: 5px;
    background-color:aliceblue;
    border-radius: 4px;    
    text-align: center;
    box-shadow: 2px 2px 8px  rgb(165, 140, 93);
}
.symbol{
    padding:0.68rem 1.2rem 0.68rem 1.2rem;
}
.row6-keys{
    padding:1.26rem 0.5rem 1.26rem 0.5rem;

}
